body{
   padding: 0px max(3%, 5px);
   margin: 0;
   font-family: Consolas, "Courier New", monospace;
   background-color: white;
   color: black;
}

a{
   color: blue;
   text-decoration: none;
}
a:hover{
   text-decoration: underline;
}

button{
   font-family: monospace;
   background-color: white;
   border-style: none;
}
button:hover{
   background-color: rgb(194, 194, 194);
}

@media(prefers-color-scheme: dark){
   body{
      padding: 0px max(3%, 5px);
      margin: 0;
      font-family: Consolas, "Courier New", monospace;
      background-color: rgb(34, 33, 33);
      color: white;
   }
   a{
      color: red;
      text-decoration: none;
   }
   a:hover{
      text-decoration: underline;
   }
   button{
      background-color: rgb(49, 48, 48);
      color: white;
   }
   button:hover{
      background-color: rgb(20, 20, 20);
   }
   input{
      background-color: rgb(63, 63, 63);
      color: white;
      border-style: none;
   }
}

header {
   min-height: 50px;
   width: 100%;
   /* border-style: dashed; */
   padding-bottom: 10px;
   border-bottom-width: 1px;
   border-bottom-style: solid;
}
nav{
      line-height: 2;
      padding-bottom: 10px;
}

@media (min-width: 800px){
   nav {
      float: left;
      width: max(100px, 10%);
      line-height: 2;
      margin-top: 10px;
      padding-right: max(2%, 2px);
      border-right-style: solid;
      border-right-width: 1px;
      /* border-style: dashed; */
   }
}

@media (max-width: 800px){
   nav {
      line-height: 2;
      margin-top: 10px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      padding-left: max(5px, 5%);
      /* border-style: dashed; */
   }
}

.nav-element{
   margin-top: 10px;
   line-height: normal;
   font-size: large;
   /* border-style: dashed; */

}

.content{
      padding-left: max(5px, 5%);
}

@media (min-width: 800px){
   .content{
      margin-left: max(100px, 10%);
      padding-left: max(5px, 5%);
      /* border-style: dashed; */
   }
}
@media (max-width: 800px){
   .content{
      padding-left: max(5px, 5%);
      /* border-style: dashed; */
   }
}

footer{
      width: 80%;
      margin-bottom: 20px;
}
@media (min-width: 800px){
   footer {
      margin-top: 100px;
      padding-top: 10px;
      margin-left: max(100px, 10%);
      height: 70px;
      width: 80%;
      vertical-align: bottom;
      border-top-style: solid;
      border-top-width: 1px;
   }
}

@media (max-width: 800px){
   footer {
      margin-top: 100px;
      padding-top: 10px;
      height: 70px;
      width: 80%;
      vertical-align: bottom;
      border-top-style: solid;
      border-top-width: 1px;
   }
}

h1{
   font-weight: bold;
}

.nav-title{
   color: gray;
   font-size: larger;
}

.nav-home{
   margin-top: 10px;
   border-top-style: solid;
   border-width: 1px;
}