body{
   padding: 0px max(15%, 5px);
   margin: 0;
   font-family: Consolas, "Courier New", monospace;
   background-color: white;
   color: black;
}

a{
   color: blue;
   text-decoration: none;
   white-space: nowrap;
   padding: 20px 10px;
   margin: 20px 10px;
}
a:hover{
   text-decoration: underline;
   background-color: rgb(200, 206, 212);
}

@media(prefers-color-scheme: dark){
   body{
      font-family: Consolas, "Courier New", monospace;
      background-color: rgb(34, 33, 33);
      color: white;
   }
   a{
      color: red;
      text-decoration: none;
   }
   a:hover{
      text-decoration: underline;
      background-color: rgb(24, 22, 22);
   }
}

header {
   min-height: 50px;
   width: 100%;
   /* border-style: dashed; */
   padding-bottom: 10px;
   border-bottom-width: 1px;
   border-bottom-style: solid;
}

.sub-header{
  min-height: 30px;
  width: 100%;
  /* border-style: dashed; */
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-top: 10px;
  line-height: 50px;

}

.high-line{
  line-height: 50px;
}

footer{
  margin-top: 50px;
  padding-top: 10px;
  height: 70px;
  vertical-align: bottom;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: center;
}
h1{
   font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  display: inline;
  margin: 10px;
}
li:hover{
  font-weight: bold;
}
